<!DOCTYPE html>
<html>
<head>
    <meta charset="UTF-8">
    <title>Safety First!</title>
    <style>
        body {
            width: 500px;
        }
        h1 {
            font-size: 100pt;
            border: 3px solid black;
            text-align: center;
            margin-bottom: 0px;
        }
        h2 {
            font-size: 50pt;
            text-align: center;
            margin-top: 0px;
        }
        p {
            font-size: 10pt;
            text-align: center;
        }
    </style>
</head>
<body>
    <h1>{{ time }}</h1>
    <h2>{{ units }} since the last bricking incident.</h2>
    <p>Last incident: {{ last_incident }}</p>
    <form action="/oopsie" method="post">
        <button type="submit">Oopsie</button>
    </form>
</body>
</html>